{% extends "bases/base.html" %}
{% block main %}
    <section class="home-slider owl-carousel js-fullheight">
      <div class="slider-item js-fullheight" style="background-image: url({{configuration.image1.url}});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
            	<span class="subheading">Feliciano</span>
              <h1 class="mb-4">{{configuration.text1}}</h1>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url({{configuration.image2.url}});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
            	<span class="subheading">Feliciano</span>
              <h1 class="mb-4">{{configuration.text2}}</h1>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url({{configuration.image3.url}});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
            	<span class="subheading">Feliciano</span>
              <h1 class="mb-4">{{configuration.text3}}</h1>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="featured">
    					<div class="row">
								{% for art in article_acceuil %}
    						<div class="col-md-3">
    							<div class="featured-menus ftco-animate">
			                <div class="menu-img img" style="background-image: url({{art.image.url}});"></div>
			                <div class="text text-center">
		                        <h3>{{art.name}}</h3>
												<p>
													{% for ingr in art.ingredient.all %}
													<span>{{ ingr.name }}</span>,
													{% endfor %}
												</p>
			                </div>
			            </div>
								</div>
								{% endfor %}
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
	

		
	<section class="ftco-section ftco-wrap-about">
			<div class="container">
				<div class="row">
					<div class="col-md-7 d-flex">
						<div class="img img-1 mr-md-2" style="background-image: url({{about.image1.url}});"></div>
						<div class="img img-2 ml-md-2" style="background-image: url({{about.image2.url}});"></div>
					</div>
					<div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
					<div class="heading-section mb-4 my-5 my-md-0">
					<span class="subheading">About</span>
					<h2 class="mb-4">{{ about.titre }}</h2>
						</div>
					{{about.content|safe}}
						<p class="time">
							<span>{{ about.open_hour }}</span>
							<span><a href="#">{{about.phone}}</a></span>
						</p>
					</div>
				</div>
			</div>
		</section>   

		<section class="ftco-section bg-light">
				<div class="container">
						<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-12 text-center heading-section ftco-animate">
				<span class="subheading">Services</span>
				<h2 class="mb-4">Catering Services</h2>
		</div>
		</div>
		<div class="row">
				{% for serve in service %}
		<div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
				<div class="media block-6 services d-block">
				<div class="icon d-flex justify-content-center align-items-center">
								<span class="{{ serve.icone }}"></span>
				</div>
				<div class="media-body p-2 mt-3">
						<h3 class="heading">{{serve.titre}}</h3>
						<p>{{serve.description}}</p>
				</div>
				</div>      
		</div>
		{% endfor %}
		</div>
				</div>
</section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row no-gutters justify-content-center mb-5 pb-2">
          <div class="col-md-12 text-center heading-section ftco-animate">
          	<span class="subheading">Specialties</span>
            <h2 class="mb-4">Our Menu</h2>
          </div>
        </div>
        <div class="row no-gutters d-flex align-items-stretch">
					{% for p in plat %}
        	<div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        		<div class="menus d-sm-flex ftco-animate align-items-stretch">
              <div class="menu-img img" style="background-image: url({{p.image.url}});"></div>
              <div class="text d-flex align-items-center">
								<div>
	              	<div class="d-flex">
		                <div class="one-half">
		                  <h3>{{p.name}}</h3>
		                </div>
		                <div class="one-forth">
		                  <span class="price">${{p.prix}}</span>
		                </div>
		              </div>
									<p>
										{% for ingre in p.ingredient.all %}
										<span>{{ ingre.name }}</span>,
										{% endfor %}
									</p>
		              <p><a href="{% url 'reservation' %}" class="btn btn-primary">Order now</a></p>
	              </div>
              </div>
            </div>
					</div>
					{% endfor %}
        </div>
    	</div>
    </section>
		<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center mb-5 pb-2">
							<div class="col-md-12 text-center heading-section ftco-animate">
							<span class="subheading">Chef</span>
							<h2 class="mb-4">Our Master Chef</h2>
							</div>
							</div>	
					<div class="row">
											{% for c in chef %}
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="staff">
								<div class="img" style="background-image: url({{c.image.url}});"></div>
								<div class="text pt-4">
									<h3>{{c}}</h3>
									<span class="position mb-2">{{c.job}}</span>
									<!-- <p>A small river named Duden flows by their place and supplies</p> -->
									<div class="faded">
										<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
										<ul class="ftco-social d-flex">
																					{% for soc in c.social.all %}
																							<li class="ftco-animate"><a href="{{soc.lien}}"><span class="{{ soc.font }}"></span></a></li>
																					{% endfor %}
										</ul>
									</div>
								</div>
							</div>
											</div>
											{% endfor %}
					</div>
				</div>
			</section>
	<section class="ftco-section img" style="background-image: url({{configuration.scroll_image}})" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-7 ftco-animate makereservation p-4 px-md-5 pb-md-5">
          	<div class="heading-section ftco-animate mb-5 text-center">
	          	<span class="subheading">Book a table</span>
	            <h2 class="mb-4">Make Reservation</h2>
	          </div>
						<form action="{% url 'reservation' %}" method="POST">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="">Name</label>
											<input type="text" name="name" class="form-control" placeholder="Your Name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="">Email</label>
											<input type="text" name="email" class="form-control" placeholder="Your Email">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="">Phone</label>
											<input type="text" name="phone" class="form-control" placeholder="Phone">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="">Date</label>
											<input type="text" name="date" class="form-control" id="book_date" placeholder="Date">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="">Time</label>
											<input type="text" name="time" class="form-control" id="book_time" placeholder="Time">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="">Person</label>
											<div class="select-wrap one-third">
												<div class="icon"><span class="ion-ios-arrow-down"></span></div>
												<select  id="" name="person" class="form-control">
													<option value="0">Person</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4+</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-12 mt-3">
										<div class="form-group text-center">
											<input type="submit" value="Make a Reservation" class="btn btn-primary py-3 px-5">
										</div>
									</div>
								</div>
							</form>
          </div>
        </div>
			</div>
	</section>
		
	<section class="ftco-section testimony-section img">
			<div class="overlay"></div>
			<div class="container">
			<div class="row justify-content-center mb-5">
			<div class="col-md-12 text-center heading-section ftco-animate">
					<span class="subheading">Testimony</span>
					<h2 class="mb-4">Happy Customer</h2>
			</div>
			</div>
			<div class="row ftco-animate justify-content-center">
			<div class="col-md-12">
			<div class="carousel-testimony owl-carousel ftco-owl">
					{% for t in temoin %}
					<div class="item">
					<div class="testimony-wrap text-center pb-5">
					<div class="user-img mb-4" style="background-image: url({{t.image.url}})">
							<span class="quote d-flex align-items-center justify-content-center">
							<i class="icon-quote-left"></i>
							</span>
					</div>
					<div class="text p-3">
							<p class="mb-4">{{ t.comment}}</p>
							<p class="name">{{t.name}}</p>
							<span class="position">{{t.job}}</span>
					</div>
					</div>
					</div>
					{% endfor %}
					</div>
					</div>
					</div>
					</div>
</section>
		
	<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Blog</span>
            <h2 class="mb-4">Recent Posts</h2>
          </div>
        </div>
				<div class="row">
					{% for art in article %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'single' art.id %}" class="block-20" style="background-image: url('{{art.image.url}}');">
              </a> 
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
										<div><a href="{% url 'single' art.id %}">{{ art.date_add|date:'M d, Y' }}</a></div>
										<div><a href="{% url 'single' art.id %}">{{ art.author }}</a></div>
									</div>
										<h3 class="heading"><a href="{% url 'single' art.id %}">{{ art.titre }}</a></h3>
                <p class="clearfix">
										<a href="{% url 'single' art.id %} " class="float-left read">Read more</a>
										<a href="{% url 'single' art.id %}" class="float-right meta-chat"><span class="icon-chat"></span> {{ art.article_comment|length }}</a>
                </p>
              </div>
            </div>
					</div>
					{% endfor %}
        </div>
			</div>
	</section> 
{% endblock main %}